.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-left: 0px;
    gap: 15px;
    cursor: pointer;
}

.image-logo {
    width: 62px;
    height: 62px;
}

.nombre-logo {
    width: 200px;
    height: 90px;
}