.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-left: 0px;
    /* border: 2px solid green; */
}