.header {
    display: flex;
    position: sticky;
    top: 15px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: white;
    opacity: 1;
    gap: 80px;
    z-index: 99;
}


.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: row;
    gap: 10px;
    margin-right: 100px;
    width: 55%;
    height: auto;
    gap: 30px;
}

.start {
    min-width: 165px;
    min-height: 45px;
    border-radius: 30px;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 10px;
    margin-left: 30px;
    color: #0A5319;
    cursor: pointer;
    transition: transform .2s;
}

.start:hover {
    background: #65A056;
    color: #FFFFFF;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
}

.font-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 22px;
    color: #0A5319;
    transition: transform .2s;
    width: 165px;
    height: 45px;
    border-radius: 30px;
}

.font-bar:hover {
    background: #65A056;
    color: #FFFFFF;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
}