.header {
    display: flex;
    position: sticky;
    top: 20px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: white;
    opacity: 1;
    gap: 80px;
    /* z-index: 10000; */
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-right: 30px;
    /* border: 2px solid blue; */
}

.start {
    width: 650px;
    height: 70px;
    border-radius: 30px;
    /* background: #17337a; */
    background: #65A056;
    font-family: 'Poppins';
    /* font-family: serif, sans-serif; */
    font-size: 28px;
    font-weight: 550;
    letter-spacing: 3px;
    color: white;
    cursor: pointer;
}

.start:hover {
    background: whitesmoke;
}

.font-bar {
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 28px;
    color: #0A5319;
    /* color: #004aad; */
    /* color: #17337a; */
}