.header {
    display: flex;
    position: sticky;
    top: 20px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: white;
    opacity: 1;
    gap: 80px;
    /* z-index: 10000; */
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-right: 30px;
    /* border: 2px solid blue; */
}

.start {
    width: 650px;
    height: 45px;
    border-radius: 30px;
    /* background: #17337a; */
    background: #65A056;
    font-family: 'Poppins';
    /* font-family: serif, sans-serif; */
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    transition: transform .2s;
}

.start:hover {
    background: whitesmoke;
    color: #0A5319;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.font-bar {
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 22px;
    color: #0A5319;
    transition: transform .2s;
}

.font-bar:hover {
    color: #0A5319;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}