.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: white;
    opacity: 1;
    gap: 0px;
    z-index: 99;
    transition: all 0.3s ease-in;
    /* overflow: hidden; */
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.logo-name{
    display: flex;
    width: 40%;
}

.menu-bars {
    width: 30px;
    height: 30px;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    min-height: 45px;
    border-radius: 30px;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    /* margin-right: 10px; */
    /* margin-left: 30px; */
    color: #0A5319;
    cursor: pointer;
    transition: transform .2s;
}

.start-hover:hover {
    background: #65A056;
    color: #FFFFFF;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}

.font-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 22px;
    color: #0A5319;
    transition: transform .2s;
    width: 165px;
    height: 45px;
    border-radius: 30px;
}

.font-bar:hover {
    background: #65A056;
    color: #FFFFFF;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}

.top-bar-mobile {
    position: fixed;
    right: 30px;
    top: 90px;
    background-color: rgb(101, 160, 86, 1);
    width: 0;
    transition: all 0.3s ease-in;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* flex-direction: row; */
    gap: 10px;
    margin-right: 60px;
    width: 60%;
    height: auto;
    gap: 30px;
    flex-direction: column;
    width: 75%;
    padding-top: 30px;
    padding-bottom: 30px;
}


.top-bar-desktop {
    width: 0;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: row;
    gap: 10px;
    margin-right: 60px;
    width: 60%;
    height: auto;
    gap: 30px;
}

@media (max-width: 642px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .logo-name {
        /* display: none; */
        margin-left: 50px;
        margin-top: 5px;
        width: 80px;
    }

    .menu-bars {
        position: fixed;
        right: 15px;
        top: 30px;
        width: 30px;
        height: 30px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        float: right;
    }

    .start {
        color: #FFFFFF;
    }

    .font-bar {
        color: #FFFFFF;
    }

    .top-bar-desktop {
        display: none;
    }
}

@media (max-width: 912px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .logo-name {
        /* display: none; */
        margin-left: 50px;
        margin-top: 5px;
        width: 200px;
    }

    .menu-bars {
        position: fixed;
        right: 15px;
        top: 30px;
        width: 60px;
        height: 60px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        float: right;
    }

    .start {
        color: #FFFFFF;
    }

    .font-bar {
        color: #FFFFFF;
    }

    .top-bar-desktop {
        display: none;
    }
}
