.main-wrapped {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: white;
    /* border: 4px solid rgb(206, 114, 80); */
}

.scrollbar {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
}

.animation-wrapped {
    display: flex;
    width: 100%;
    height: auto;
}

.body-wrapped {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: auto;
    margin-bottom: 60px;
    /* border: 2px solid blue; */
}

.auxlem {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
    word-wrap: break-word;
    vertical-align: baseline;
}

.scrollBut {
    display: block;
    height: 106px;
    width: 106px;
    overflow: hidden;
    text-indent: -1100px;
    background: url(https://energyg.es/overwrite/skins/svg/icon-scroll.svg) no-repeat;
    background-size: 105px 105px;
}

.slogan {
    width: 100%;
    font-family: georgia;
    font-size: 50px;
    letter-spacing: 8px;
    line-height: 70px;
    font-weight: normal;
    margin-top: 80px;
    margin-bottom: 80px;
}

.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.title-about {
    font-family: 'poppins';
    font-size: 30px;
    margin-bottom: 20px;
    /* text-transform: uppercase; */
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #0A5319;
    /* color: #17337a; */
}

.content-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'poppins';
    font-size: 20px;
    text-align: justify;
    width: 100%;
    height: auto;
    padding: 0px;
    gap: 50px;
}

.p01 {
    margin-bottom: 70px;
}

.p02 {
    margin-bottom: 20px;
}

.mission-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    /* gap: 100px; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    background-color: rgb(173 206 108);
}

.title-mv {
    font-family: 'poppins';
    font-size: 35px;
    letter-spacing: 8px;
    color: #FFFFFF; 
}

.im-tex-mv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
    margin-top: 30px;
    gap: 0px;
}

.img-mv {
    width: 70px;
    height: 70px;
}

.title-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    font-size: 35px;
    letter-spacing: 8px;
    color: #0A5319;
}

.title-vp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #0A5319;
}

.content-mission {
    font-family: 'poppins';
    font-size: 20px;
    text-align: justify;
    padding: 40px;
    padding-top: 115px;
    padding-bottom: 115px;
    color: #FFFFFF;
}

.vision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    background-color: #000000;
}

.content-vision {
    font-family: 'poppins';
    font-size: 20px;
    text-align: justify;
    padding: 40px;
    color: #FFFFFF;
}

.values {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-vp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 160px;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 225px;
    font-family: 'poppins';
    font-size: 30px;
    color: #0A5319;
    margin-top: 60px;
    margin-bottom: 60px;
}

.im-v {
    width: 100px;
    height: 100px;
}

.pillars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pillar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 225px;
    font-family: 'poppins';
    font-size: 30px;
    color: #0A5319;
    margin-top: 60px;
    margin-bottom: 60px;
}

.im-p {
    width: 100px;
    height: 100px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 200px;
    /* border: 2px solid rgb(206, 7, 173); */
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;
}


.footer {
    width: 100%;
    height: 400px;
    background-color: black;
    /* background-image: url("https://images.pexels.com/photos/7527911/pexels-photo-7527911.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    background-size: 100% 400px;
    /* background-repeat: no-repeat; */
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.follow-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.text-footer {
    font-family: 'poppins';
    font-size: 27px;
    font-weight: 550;
    color: #FFFFFF;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    gap: 30px;
    margin-top: 20px;
}

.icon-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    --bg-opacity: 1;
    background-color: rgba(255,255,255,var(--bg-opacity));
    color: #0496ff;
    border-radius: 15px;
}

.fa {
    padding: 20px;
    font-family: 'poppins';
    font-size: 30px;
    width: 500px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.3;
}

.new-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
}

.inside-media {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-top: 10px;
}


.text-link {
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #FFFFFF;
}
