:root {
    --bg-overlay-color: rgb(239, 240, 243);
}

.main-wrapped {
    display: flex;
    justify-content: center;
    width: 1850px;
    height: 4000px;
    background-color: #151f38;
    /* border: 4px solid rgb(74, 74, 185); */
}

.landing-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1840px;
    height: 3750px;
    margin-top: 70px;
    background-color: var(--bg-overlay-color);
    /* border: 4px solid rgb(206, 114, 80); */
}

.navigator-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1850px;
    height: 120px;
    padding: 0px, 100px, 0px, 100px;
    justify-content: space-between;
    gap: 206px;
    /* border: 4px solid green; */
}

.logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    margin-top: 6px;
    margin-left: 70px;
}

.content-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 600px;
    height: 70px;
    gap: 70px;
    background-color: white;
    border-radius: 35px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.05);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #17337a;
}

.landing-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1850px;
    height: 650px;
    /* border: 2px solid red; */
}

.l-image {
    width: 1840px;
    height: 650px;
    object-fit: cover;
    /* border: 2px solid orange; */
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1850px;
    height: 100px;
    /* border: 2px solid rgb(19, 165, 201); */
}

.text-sloga {
    font-family:georgia, serif;
    font-size: 25px;
    color: #17337a;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:0.1em;
    overflow-wrap: break-world;
}

.content-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1850px;
    height: 1150px;
    border: 2px solid rgb(6, 106, 41);
}

.who {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1850px;
    height: 260px;
    /* border: 2px solid rgb(220, 8, 23); */
}

.container-who {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1850px;
    height: 70px;
    /* border: 2px solid rgb(8, 139, 220); */
}

.text-who {
    font-family: georgia, serif;
    font-size: 25px;
    font-weight: bold;
    color: #17337a;
}

.container-content-who {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1000px;
    text-align: justify;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    /* border: 2px solid rgb(42, 235, 8); */
}

.mi-vi {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 1850px;
    height: 180px;
    gap: 30px;
    /* border: 2px solid rgb(231, 235, 8); */
}

.mission {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 170px;
    /* border: 2px solid rgb(31, 8, 235); */
}

.title-mission {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-family: georgia, serif;
    font-size: 20px;
    color: #17337a;
    /* border: 2px solid rgb(235, 65, 8); */
}

.content-mission {
    display: flex;
    margin: auto;
    text-align: justify;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.vision {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 170px;
    /* border: 2px solid rgb(31, 8, 235); */
}

.title-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-family: georgia, serif;
    font-size: 20px;
    color: #17337a;
    /* border: 2px solid rgb(235, 65, 8); */
}

.content-vision {
    display: flex;
    margin: auto;
    text-align: justify;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.values-pillars {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1100px;
    height: 650px;
    margin-top: 50px;
    border: 2px solid rgb(3, 116, 20);
}

.title-vp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-family: georgia, serif;
    font-size: 25px;
    color: #17337a;
    /* border: 2px solid rgb(31, 8, 235); */
}

.values {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 225px;
    gap: 60px;
    /* border: 2px solid black; */
}

.value {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 225px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #17337a;
    /* border: 2px solid rgb(14, 170, 222); */
}

.im-v {
    width: 160px;
    height: 180px;
    /* border: 2px solid rgb(14, 170, 222); */
}

.pillars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 225px;
    gap: 60px;
    /* border: 2px solid rgb(169, 227, 9); */
}

.pillar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 225px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #17337a;
    /* border: 2px solid rgb(228, 11, 196); */
}

.im-p {
    width: 160px;
    height: 180px;
    /* border: 2px solid rgb(14, 170, 222); */
}

.content-services {
    display: flex;
    width: 1840px;
    height: 400px;
    /* border: 2px solid orange; */
}

.management-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1840px;
    height: 400px;
    gap: 200px;
    border: 2px solid orange;
}

.energy-management {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-image: url("https://images.pexels.com/photos/7567443/pexels-photo-7567443.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: 500px 400px;
    background-repeat: no-repeat;
    opacity: 1;
    border: 2px solid rgb(255, 0, 217);
}

.emissions-management {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-image: url("https://images.pexels.com/photos/5462683/pexels-photo-5462683.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: 500px 400px;
    background-repeat: no-repeat;
    opacity: 1;
    border: 2px solid rgb(20, 115, 37);
}

.im-management {
    width: 150px;
    height: 150px;
}

.text-management {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.buttonmore {
    margin-top: 40px;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border: none;
    /* background: #17337a; */
    background: #273352;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.buttonmore:hover {
    background: whitesmoke;
}

