.main-wrapped {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: white;
    border: 4px solid rgb(206, 114, 80);
}

.header {
    display: flex;
    position: sticky;
    top: 0;
    top: 0%;
    left: 0%;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: white;
    opacity: 1;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 70px;
    margin-right: 80px;
    /* border: 2px solid blue; */
}

.start {
    width: 200px;
    height: 80px;
    border-radius: 30px;
    background: #17337a;
    font-family: serif, sans-serif;
    font-size: 28px;
    font-weight: 750;
    letter-spacing: 3px;
    color: white;
    cursor: pointer;
}

.start:hover {
    background: whitesmoke;
}

.font-bar {
    font-family: serif, sans-serif;
    letter-spacing: 3px;
    font-size: 28px;
    color: #004aad;
    /* color: #17337a; */
}

.animation-wrapped {
    display: flex;
    width: 100%;
    height: auto;
}

.body-wrapped {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: auto;
    /* border: 2px solid blue; */
}

.slogan {
    width: 100%;
    font-family: georgia;
    font-size: 50px;
    letter-spacing: 8px;
    line-height: 70px;
    font-weight: normal;
}

.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.title-about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #17337a;
}

.content-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Lato,sans-serif, sans-serif;
    font-size: 20px;
    text-align: justify;
    width: 95%;
    height: auto;
    padding: 0px;
}

.mission-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 100px;
}

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
}

.title-sub {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    letter-spacing: 8px;
    color: #17337a;
}

.content-mission {
    font-family: Lato, serif, sans-serif;
    font-size: 20px;
    text-align: justify;
}

.vision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
}

.content-vision {
    font-family: Lato, serif, sans-serif;
    font-size: 20px;
    text-align: justify;
}

.values {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-vp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 160px;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 225px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #17337a;
    margin-top: 60px;
    margin-bottom: 60px;
}

.im-v {
    width: 160px;
    height: 180px;
}

.pillars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pillar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 225px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #17337a;
    margin-top: 60px;
    margin-bottom: 60px;
}

.im-p {
    width: 160px;
    height: 180px;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.management-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 200px;
}

.energy-management {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-image: url("https://images.pexels.com/photos/7567443/pexels-photo-7567443.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: 500px 400px;
    background-repeat: no-repeat;
    opacity: 1;
}

.emissions-management {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-image: url("https://images.pexels.com/photos/5462683/pexels-photo-5462683.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: 500px 400px;
    background-repeat: no-repeat;
    opacity: 1;
}

.im-management {
    width: 150px;
    height: 150px;
}

.text-management {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.buttonmore {
    margin-top: 40px;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background: #273352;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.buttonmore:hover {
    background: whitesmoke;
}


.footer {
    width: 100%;
    height: auto;
    opacity: 0.4;
    /* border: 2px solid cadetblue; */
}
